extends layout 

block content 

  div(class='category')
    div(class='image')
      img(src=`data:image/${brand.mime_type};base64,${brand.base64}`, alt=brand.logo_name)
    h1= title 
    p= brand.description 
  h1 Products
  ul
    each product in brand_products
      li(class='card')
        a(href=product.url)
          div(class='image-wrapper')
            div(class='image') 
              img(src=`data:image/${product.mime_type};base64,${product.base64}`, alt=product.image_name)
          div(class='info') 
            h3 #{product.name}
            p= product.price + '$'
    else
      li There are no products.
  hr
  p(class='bottom-link')
    a(href=brand.url+'/delete')= brand.admin == true ? 'Delete brand (Requires password)' : 'Delete brand'  