extends layout

block content
  h1 #{title}

  form(method='POST' action='' enctype='multipart/form-data')
    div
      label(for='name') Instrument:
      input#name(type='text', placeholder='e.g Ukelele' name='name' value=(undefined===instrument ? '' : instrument.name))
    div
      label(for='description') Description:
      textarea#description(placeholder='e.g This instrument is typically used' rows=5 name='description') #{undefined===instrument ? '' : instrument.description}
    div
      label(for='productImage') Image:
      input#productImage(type='file', name='productImage' )
      if instrument && instrument.base64
        p Previous Image
        div(class='preview')
          div(class='image') 
            img(src=`data:image/${instrument.mime_type};base64,${instrument.base64}`, alt=instrument.image_name)
    if instrument
      div.hidden
        input#base64(type='hidden',name='base64', required='true', value=instrument.base64 )
        input#img_name(type='hidden',name='img_name', required='true', value=instrument.image_name )
        input#admin(type='hidden',name='admin', required='true', value='' + instrument.admin )
    
    button(type='submit') Submit

  if errors
   ul(class='errors')
    for error in errors
     li!= error.msg || error.message
