extends layout 

block content 

  div(class='category')
    div(class='image')
      img(src=`data:image/${instrument.mime_type};base64,${instrument.base64}`, alt=instrument.image_name)
    h1= title 
    p= instrument.description 
  h1 Products
  ul
    each product in instrument_products
      li(class='card')
        a(href=product.url)
          div(class='image-wrapper')
            div(class='image') 
              img(src=`data:image/${product.mime_type};base64,${product.base64}`, alt=product.image_name)
          div(class='info') 
            h3 #{product.name}
            p= product.price + '$'
    else
      li There are no products.  